.menu-item:last-child a {
  color: rgb(99, 154, 216);
}

form {
  min-height: 60vh;
  padding: 6rem 4rem 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 3fr 3fr 1fr;
  column-gap: 50px;
}

form > div {
  display: flex;
  flex-direction: column;
}

#first-name-wrapper {
  grid-column: 1 / 2;
}

#last-name-wrapper {
  grid-column: 2 / 3;
}

#email-wrapper {
  grid-column: 1 / 2;
}

#dropdown-menu-wrapper {
  grid-column: 1 / 2;
}

#form-button-wrapper {
  grid-column: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

label {
  padding-bottom: 15px;
}

label > span {
  color: red;
  font-size: x-large;
}

input {
  border: 0;
  padding: 8px;
  border-bottom: 1px solid rgb(175, 173, 173);
  box-shadow: 0 0 10px 1px rgb(211, 211, 211);
}

#select-membership {
  width: 50%;
}

#cancel-button {
  font-weight: 600;
  border: 0;
  background-color: transparent;
}

#submit-button {
  height: 40px;
  width: 100px;
  background-color: rgb(99, 154, 216);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 600;
}

footer {
  margin-top: 2rem;
}
